
/* Mobile stylesheet styling for landscape and portrait */
@media only screen and (min-width: 320px) {
body {
    background-color: #ffffff;
    font-size: 1em;
    font-family: 'Titillium+Web', sans-serif;
  }
header {
    padding: 1em;
    background-color: #ffffff;
  }
header h1 {
    color: #000000;
    padding: .50em;
    background-color: #ffffff;
    font-family: 'Titillium+Web', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }
    
main {
    padding: 1em;
    font-family: 'Titillium+Web', sans-serif;
    text-align: center;
  }
    
main h1 {
color: #000000;
    padding: .50em;
    background-color: #ffffff;
    font-family: 'Titillium+Web', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }
    
main h2 {
    color: #4F4F4F;
    padding: .45em;
    font-family: 'Titillium+Web', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
  }
    
main h3 {
    color: #4F4F4F;
    font-family: 'Titillium+Web', sans-serif;
    font-weight: bold;
    padding: .40em;
    font-size: 1.3em;
    text-align: center;
  }
    
main h4 {
    color: #4F4F4F;
    font-family: 'Titillium+Web', sans-serif;
    font-weight: bold;
    padding: .25em;
    font-size: 1em;
    text-align: center;
  }
       
main p {
    line-height: 1.3em;
    color: #000000;
    display: block;
    font-weight: 400;
    font-family: 'Titillium+Web', sans-serif;
    padding: 1em;
    font-size: 1em;
    text-align: center;
  }
    
dt {
    line-height: 1.2em;
    padding: .50em;
    color: #AD0000; 
    display: block;
    font-family: 'Titillium+Web', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    }
    
dd {
    line-height: 1.2em;
    font-family: 'Titillium+Web', sans-serif;
    }
    
#slideshow {
    display: none; 
  }
    
img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
    
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #111111;
    padding: 0;
    margin: 0;
    border: 1px solid #FF0000;
  }
    
ul li {
    display: block;
    background-color: #000000;
    text-align: center;
  }
    
ul li a {
    color: #ffffff;
    font-size: 1.25em;
    padding: .40em .40em .40em .40em;
    text-decoration: none;
    text-align: center;
    display: block;
  }
    
ul li a:hover {
    background-color: #FF0000;
    color: #ffffff;
  }
    
ul li a.active {
    background-color: #FF0000;
    color: #ffffff;
  }
    
.contact {
    width: 100%;
    color: #4F4F4F;
    font-weight: bold;
    font-size: 1em;
    padding: 1em 1em;
    border: 1px solid #FF0000;
    border-radius: 1em;
    box-sizing: border-box;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    resize: vertical;
    text-align: center;
    background-position: center;
  }
    
select,
input {
    background-position: center;
    font-size: 1.3em;
  }
    
select-container {
    max-width: 100%;
    position: relative;
    background-position: center;
  }
    
input[type=submit] {
    background-color: #FF0000;
    color: #ffffff;
    margin-top: 1.3em;
    padding: 1em 1.3em;
    border: none;
    border-radius: .25em;
    cursor: pointer;
    text-align: center;
  }
    
input[type=submit]:hover {
    background-color: #FF0000;
  }
      
.registration {
    width: 80%;
    color: #000000;
    font-weight: bold;
    font-size: 1em;
    padding: 1.3em 1.5em;
    border: 1px solid #FF0000;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 23px;
    margin-bottom: 23px;
    resize: vertical;
    text-align: center!important;
  }
    
.participant,
.shirt,
.event,
.event2 {
    background-position: center!important;
    margin-top: -1em;
  }
    
.container {
    width: 100%;
    border-radius: .25em;
    background-color: #ffffff;
    padding: 1.3em;
  }
    
footer {
    font-size: 1em;
    background-color: #ffffff;
    color: #111111;
    padding: 1em;
  }
    
  
  /* Style all font awesome icons */
.fa {
    padding: .90em;
    width: .90em;
    text-align: center;
    text-decoration: none;
    margin: .30em;
  }
    
  /* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
  }
    
  /* Set a specific color for each brand */
  /* Facebook */
.fa-facebook {
    background: #3B5998;
    color: #ffffff;
  }
    
  /* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: #ffffff;
  }
}

/* Tablet stylesheet styling for portrait and landscape */
@media only screen and (min-width: 768px) {
 #sitelogo {
    background: url(../images/logo.jpg) no-repeat;
    color: #000000;
    float: left;
    height: 75px;
    width: 150px;
    display: block;
    font-weight: bolder;
  }
    
ul li {
    text-align: center;
    display: inline;
    float: left;
    padding: .10em;
  }
    
ul li a {
    padding: .50em .50em .50em .50em;
    font-size: 1.5em;
  }
    
dt {
    font-size: 1.5em;
    }
    
  * {
box-sizing: border-box;
  }
  /* Slideshow container */
 .slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    text-align: center;
  }
    
 .slides_container div {
    margin: 0px auto;
    width: 100%;
    text-align: center;
  }
    
  #slideshow {
    display: block;
  }
    
  /* Hide the images by default */
.mySlides {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    margin: 0 auto;
  }
    
  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 1em;
    width: 1em;
    margin: 0 2px;
    background-color: #FF0000;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
    
.active,
.dot:hover {
    background-color: #FF0000;
  }
    
  /* Fading animation */
.fade {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    margin: 0 auto;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
    
#photos {
    display: none;
  }
    
img {
    vertical-align: middle;
  }

footer {
    font-size: 1.5em;
  }
}
/* Desktop stylesheet styling for portrait and landscape */
@media only screen and (min-width: 1024px) {
    
ul li {
    text-align: center;
    display: inline;
    float: left;
    padding: .20em;
  }
    
ul li a {
    padding: .50em .50em .50em .50em;
    font-size: 1.8em;
  }
footer {
    padding: 1.5em 1.5em 1.5em 1.5em;
  }
    
main {
    padding: 1.5em;
  }
    
main p {
    font-size: 1.3em;
}
}
