

/* Mobile stylesheet styling for landscape and portrait */

@media only screen and (min-width: 320px) {
   
.hero-image {
   background-image: url("small.jpg");
   height: 50%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   position: relative;
}   

h1 {
   font-size: 1.5em;
   color: #111111;
   text-align: center;
   padding-top: .15em;
   font-weight: bold;
   margin-top: 1.5em;
   margin-bottom: 0.75em;
   text-transform: uppercase;
   }

h2 {
   font-size: 1.5em;
   color: #111111;
   text-align: center;
   padding-top: .15em;
   font-weight: bold;
   margin-top: 1.5em;
   margin-bottom: 0.75em;
   text-transform: uppercase;
}

h3 {
   font-size: 1em;
   color: #111111;
   text-align: center;
   padding-top: .15em;
   font-weight: bold;
   margin-top: 1em;
   margin-bottom: 0.5em;
   text-transform: uppercase;
}
   
ul {
   list-style-type: none;
   overflow: hidden;
   background-color: #111111;
   padding: 0;
   margin: 0;
   border: 1px solid #FF0000;
}
   
li {
   display: block;
   background-color: #111111;
   text-align: center;
 }
   
li a {
   color: #ffffff;
   padding: 8px 16px;
   font-size: 15px;
   text-decoration: none;
   display: block;
}

li a:hover {
    background-color: #FF0000;
    color: #ffffff;
}

li a.active {
   background-color: #FF0000;
    color: #ffffff;
}
   
body {
   height: 100%;
   background-color: #ffffff;
   margin: 0;
}
      
 p {
   font-size: 1em;
   font-family: 'Titillium Web', sans-serif;
   color: black;
}

main {
   background-color: #ffffff;
   padding: 1em;
}

.photos {
   background-image: url("static.jpg");
   height: 20%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}
   
img {
   width: 100%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

figure img {
   border: 1px solid #111111;
   background-color: #ffffff;
   padding: 1em;
}
   
figcaption {
   display: block;
   font: 1em Titillium-Regular;
   color: #FF0000;
   text-align: center;
   margin: 0 0 0 0 ;
   }
   
footer {
   font-size: 1.2em;
   padding: 1em 1em 1em 1em;
   background-color: #ffffff; 
   color: #111111;

}

.footer {
   padding: .5em .5em .5em .5em;
 }  
}


/* Tablet stylesheet styling for portrait and landscape */

@media only screen and (min-width: 768px){

#sitelogo {
    background: url(/cas222/images/logo.jpg)no-repeat;
    background-position: center;
    float:left;
    height: 50px;
    width: 200px;
    background-color: #FF0000;
    display: block;
    padding: 1.5px 1.5px;
  }
   
 .hero-image {
   background-image: url("medium.jpg");
   height: 50%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}   
   
li {
   text-align: center;
   display: inline; 
   float: left;
}
   
li a {
   font-size: 1em;
   padding: 10px 10px 10px 10px;
   }
   
h1 {
   font-size: 2.3em;
}
   
h2 {
   font-size: 1.7em;
}
   
h3 {
   font-size: 1.5em;
}
   
body main p {
   font-size: 1.5em;
   line-height: 1.75em;
   padding: 1em;
}
   
figcaption {
    font-size: 1.5em;
}
   
footer {
   font-size: 1.5em;
   padding: 1.3em 1.3em 1.3em 1.3em;
}
   
}


/* Desktop stylesheet styling for portrait and landscape */

@media only screen and (min-width: 1025px) {
   
#sitelogo {
   height: 60px;
   width: 210px;
   padding: 1.5px 1.5px;
 }
   
.hero-image {
   background-image: url("large.jpg");
   height: 50%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
} 
   
   
li a {
   font-size: 1.5em;
   padding: 15px 15px;
  
}

footer {
   font-size: 1.5em;
   padding: 1.5em 1.5em 1.5em 1.5em;
}
   
main {
   padding: 1.5em;
  }

}
